<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Phoenix Crud App</h2>
        <p class="lead">Brought to you by ProDev and Viget.</p>
      </div>

      <a href="/">Home</a>
      <br>

      <%= @inner %>
    </div>
  </body>
</html>
